.form {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.addButton {
  min-height: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  background-image: url("https://www.freepnglogos.com/uploads/plus-icon/plus-icon-download-png-and-vector-17.png");
  background-size: cover;
  background-color: rgb(159, 158, 231);
  border-color: rgb(106, 105, 172);
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 8px;
  border: 1px solid;
}
.addButton:hover {
  background-color: rgb(5, 151, 5);
}
@media only screen and (max-width: 600px) {
  .form {
    flex-direction: column;
    align-items: center;
  }
  .addButton {
    background-color: rgb(185, 208, 253);
    border-color: rgb(101, 124, 172);
  }
  .addButton:hover {
    background-color: rgb(5, 151, 5);
  }
}
