.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.input {
  justify-self: end;
  min-width: 8rem;
  min-height: 1.8rem;
  padding: 0.6rem;
  border-radius: 0.8rem;
}
@media only screen and (max-width: 600px) {
}
