/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 15px;
  text-align: center;
}*/
.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  text-align: center;
  padding: 0.8rem;
  width: 5rem;
  height: 3rem;
  padding-bottom: 0.5rem;
  background-color: rgb(206, 193, 170);
  border-radius: 0.8rem;
  border: 0.1rem solid rgb(157, 146, 128);
  cursor: pointer;
}
.navButton:hover {
  background-color: rgb(236, 232, 225);
}
.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 3rem;
  background-color: rgb(209, 203, 192);
  height: 100vh;
  width: 100vw;
}
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60rem;
  color: rgb(36, 34, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  place-items: center;
  font-size: 3rem;
  margin-bottom: 0.8rem;
}
