:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(164, 226, 241, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(241, 204, 160);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4.2em;
  line-height: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 0.8em;
  font-weight: 400;
  font-family: cursive;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #efe1c7;
  border-color: #a87820;
}
button:hover {
  color: #313d02;
  background-color: #f4b37b;
}

.image-button {
  width: 2rem;
  height: 2rem;
  padding-top: 0.5em;
  background-image: url("https://www.freepnglogos.com/uploads/plus-icon/plus-icon-download-png-and-vector-17.png");
  background-size: cover;
}
.delete-button {
  width: 2rem;
  height: 2.5rem;
  padding-bottom: 0.5em;
  background-image: url("https://creazilla-store.fra1.digitaloceanspaces.com/icons/3213295/trash-icon-sm.png");
  background-size: cover;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: #daef82;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  button {
    background-color: rgb(75, 198, 238);
    border-color: rgb(19, 126, 161);
  }
  button:hover {
    background-color: rgb(198, 228, 238);
  }
  h1 {
    color: rgb(10, 10, 91);
  }
}
